.base-button,
.base-input {
  &.primary {
    --color: var(--color-primary);
    --background: var(--white);

    &:hover {
      --color: var(--white);
      --background: var(--color-primary);
    }

    &.fill {
      --color: var(--white);
      --background: var(--color-primary);

      &:hover {
        --background: var(--color-primary-dark);
      }
    }
  }
}