@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #fff;
    --color-black-light: #333;
    --color-black: #000;

    --color-primary-lightest: #d7edf6;
    --color-primary-lighter: #b4dced;
    --color-primary-light: #7fc1e1;
    --color-primary: #3593c2;
    --color-primary-dark: #2882b2;

    --color-success-lightest: #b0ead1;
    --color-success-lighter: #7cd9b7;
    --color-success-light: #47c099;
    --color-success: #24a57f;
    --color-success-dark: #199473;

    --color-warning-lightest: #fcf1c9;
    --color-warning-lighter: #fae18d;
    --color-warning-light: #f7c948;
    --color-warning: #f5b72a;
    --color-warning-dark: #ef9611;

    --color-danger-lightest: #ffc9cd;
    --color-danger-lighter: #fea3a9;
    --color-danger-light: #fa6f78;
    --color-danger: #f2414d;
    --color-danger-dark: #e12d39;

    --color-gray: #D1D5DB;
  }
}

:root {
  --base-font-size: 1rem;
  --base-line-height: 1.25;
  --base-border-radius: 0.375rem;
  --base-padding: 0.5rem;
  --base-size-padding: var(--base-padding);

  --base-border-size: 1px;

  --base-color: var(--color-black);
  --base-hover-color: var(--color-black-light);
  --base-sub-color: var(--color-white);
  --base-border-color: var(--color-gray);
}

.small {
  --base-padding: 0.375rem;
}

.large {
  --base-padding: 0.625rem;
}

.radius {
  --base-border-radius: calc(var(--base-font-size) + var(--base-padding));
}

.primary {
  --base-color: var(--color-primary);
  --base-hover-color: var(--color-primary-dark);
}


/* @keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */

.view-transition-image {
  view-transition-name: view-transition-image;
}