.decorators {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -5px -10px;
}
.decorators > * {
    margin: 5px 10px;
}
.decorators > br {
    content: '';
    width: 100%;
    margin: 0;
}