@import '../node_modules/modern-normalize/modern-normalize.css';
:root {
    --white: #fff;
    --black: #000;
    --primary: #60a5fa;
    --success: #4ade80;
    --warning: #facc15;
    --danger: #f87171;
    --disable: #9ca3af;

    --base-line-height: 1.125;
    --base-border-radius: 0.25rem;

    --base-padding: 0.375rem;
    --base-small-padding: calc(var(--base-padding) - 0.125rem);
    --base-large-padding: calc(var(--base-padding) + 0.125rem);


    /* checkbox */
    --base-checkbox-color: var(--primary);

    
    --base-small-height: 32px;
    --base-height: 40px;
    --base-large-height: 48px;
    


    /* input */
    --input-font-size: var(--base-font-size);

    --input-small-height: var(--base-small-height);
    --input-height: var(--base-height);
    --input-large-height: var(--base-large-height);

    --input-base-border-radius: var(--base-border-radius);

    /* select */
    --select-font-size: var(--base-font-size);

    --select-small-height: var(--base-small-height);
    --select-height: var(--base-height);
    --select-large-height: var(--base-large-height);

    --select-base-border-radius: var(--base-border-radius);
}